<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title Slide</title>
  <style>
    body {
      background-image: url('images/90985051_3160362750661404_9121786830419656704_o.jpg');
      background-size: cover;
      background-position: center;
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      color: white;
    }

    h1 {
      font-size: 3em;
      margin-top: 5%;
    }

    p {
      font-size: 1.5em;
    }

    .image1, .image2 {
      position: absolute;
      width: 150px;
    }

    .image1 {
      top: 50%;
      left: 20%;
      transform: translate(-50%, -50%);
    }

    .image2 {
      top: 50%;
      left: 70%;
      transform: translate(-50%, -50%);
    }
  </style>
</head>
<body>
  <h1>Long-Term Dynamic and Mechanisms of Pollinator Sharing in Plant-Pollinator Networks</h1>
  <p>Jakub Štenc, Charles University, Czech Republic</p>
  <img class="image1" src="images/pyl.png" alt="First Image">
  <img class="image2" src="images/pyl.png" alt="Second Image">
  
  
</body>
</html>
